@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("facebook.com") {

#leftCol,
#rightCol,
#pagelet_ticker,
.fbChatSidebar,
._5ciw.rhcFooter {
    display: none !important
}

#contentArea {
    width: 100% !important
}

#globalContainer {
    padding-right: 0px !important;
    width: 100% !important
}

#contentCol {
    background-color: #000 !important;
}

body {
background-repeat:repeat !important;
background-attachment:fixed !important;
background-position:center !important;
background-color: #000 !important;
}

}

